body {
    background: #c3cfe2;

    .body__container {
        position: relative;
        width: 70%;
       
    }
    .body__container--image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        padding: 20px;
        border-radius: 30px;
    }
    .body__container--middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .container__middle--text {
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }
    
}

.body__container:hover .body__container--image {
    opacity: 0.05;
}

.body__container:hover .body__container--middle {
    opacity: 1;
}


@media (min-width:768px){
    .body__container--image{
        // display:inline;
        width:40%;
    }
}

// @media (min-width: 1024px){
//     .body__container--image{
//         width:25%;
//     }  
// } 