body {
    background: #c3cfe2; 
}


.container {
    position: relative;
    width: 70%;
   &__image{
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 20px;
    border-radius: 30px;
   }
   &__middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   }
   &__middle--text{
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
   }
}


.container:hover .container__image {
    opacity: 0.05;
}

.container:hover .container__middle {
    opacity: 1;
}


@media (min-width:768px){
    .container__image{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px){
    .container__image{
        grid-template-columns: 1fr 1fr 1fr;
    }  
} 

// Hij is nog steeds niet responsive!, ook niet na uitleg van Thomas. Graag hoor ik in de feedback wat ik fout doe.
// Schiet mij maar lek.